*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-board{
    width: 80%;
    height: 500px;
    border-bottom: 10px solid #00950c;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(68, 116, 204), rgb(249, 252, 255));
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    
}
.jump{
    animation: mario-jump 500ms ease-out;

}
.nuvem1{
    width: 170px;
    position: absolute;
    animation: animacao-nuvem 15s infinite linear;
}
.nuvem2{
    width: 170px;
    position: absolute;
    animation: animacao-nuvem 10s infinite linear;
}
.nuvem3{
    width: 170px;
    position: absolute;
    animation: animacao-nuvem 20s infinite linear;
}
@keyframes animacao-nuvem{
    from{
        right: -50px;
    }
    to{
        right: 100%;
    }
}
@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}
@keyframes mario-jump{
    0%{
        bottom: 0px;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0px;
    }
}